body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}


.nav {
  background-color: #1f2937;
}

.logo h2{
  font-size: 24px;
  color: #f9faf8;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 auto;
  width: 80%;
}

.nav .nav-bar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}


.nav-bar ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    margin: 0;
    padding: 2rem 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
}

.heading h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.paragraph p{
    font-size: 18px;
    color: #e5e7eb;
}

.text {
    flex: 1;
    margin-right: rem;
}

.btn button{
    background-color: #3882F6;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.img-hero {
    flex: 1;
}

img {
    width: 100%;
}

.img {
    height: 200px;
    width: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info_img {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    margin: 2rem 0;
}

.info_img .img p {
    font-size: 18px;
    color: #1F2937;
}

.info_img .img img {
    border-radius: 2rem;
    border: 0.3rem solid #3882F6;
}
